html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Enable horizontal scrolling */
    overflow-y: auto; /* Disable vertical scrolling */
}

.full-view-scrollable {
    height: auto; /* Full viewport height */
    width:100vw;
    display: flex;
    overflow-x: hidden; /* Enable horizontal scrolling */
    overflow-y: auto; /* Disable vertical scrolling */
    align-items: center; /* Center the image vertically */
}

.full-view-scrollable img {
    height: auto; /* Scale the image to fit the height of the viewport */
    width: 100vw; /* Allow the width to scale proportionally */
    object-fit: contain; /* Ensure the entire image is visible */
}
